:root {
  --black: #000;
  --primary: #d87d4a;
  --bg-white: #f1f1f1;
  --dark: #101010;
  --orange: #fbaf85;
  --fafa: #fafafa;
  --white: #fff;
}
.categories {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navbar {
  width: 100%;
  max-width: 100%;
  height: 240px;
  background-color: rgb(0, 0, 0);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}
.navbar h1 {
  text-align: center;

  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 110% */
  letter-spacing: 1.429px;
  text-transform: uppercase;
}
.shop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  gap: 125px;
  margin-bottom: 160px;
}

.shop-image {
  width: 540px ;
  height: 560px ;
  border-radius: 8px;
  background: var(--bg-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-txt {
  display: flex;
  width: 445px;
  flex-direction: column;
}
.shop-txt span {
  color: var(--primary);
  margin-bottom: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.shop-txt h2 {
  color: var(--black);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 110% */
  letter-spacing: 1.429px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.shop-txt p {
  color: var(--black);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  opacity: 0.5;
}
.shop-txt button {
  width: 160px;
 padding-left: 30px;
 padding-top: 15px;
 padding-bottom: 15px;
 padding-right: 30px;
  background-color: var(--primary);
  color: var(--white);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 40px;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  .shop{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-left: 39px;
    padding-right: 39px;
  }
  .shop-image{
    width: 100%;
    max-width: 689px;
    height: 352px;
  }
  .shop-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 572px;
  }
  .shop-txt p {
    max-width: 100%;
  }
}