@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
}
:root {
  --black: #000;
  --primary: #d87d4a;
  --bg-white: #f1f1f1;
  --dark: #101010;
  --orange: #fbaf85;
  --fafa: #fafafa;
  --white: #fff;
}
.header {
  width: 100%;
  background-color: var(--black);
  margin: 0 auto;
}
.header-content {
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
  margin: 0 auto;
  border-bottom: 1px solid #4d4a4a;
}
.header-list {
  display: flex;
  gap: 40px;
}
.links {
  color: var(--white);
}
.links:hover {
  color: var(--primary);
}
.logod {
  display: flex;
  gap: 25px;
}
.gamb {
  background-color: transparent;
  display: none;
}
.menus {
  position: absolute;
  padding: 40px;
  z-index: 99;
  width: 100%;
  height: 350px;
  background-color: var(--black);
  display: none;
  z-index: 999;
}

.menus-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
}
.xs {
  color: var(--primary);
  font-weight: 900;
  font-size: 40px;
}
.order-check {
  width: 350px;
  height: max-content;
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 33px;
}
.order-header-check {
  z-index: 77;
  position: absolute;
  right: 200px;
  top: 70px;
 
}
.overlay-hd {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: right;
 
}

.order-check p {
  color: #000;
  margin-bottom: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.286px;
  text-transform: uppercase;
}
.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.image-product {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  background: #f1f1f1;
  overflow: hidden;
}
.products h3 {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
}
.products h5 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 178.571% */
  opacity: 0.5;
}
.products h6 {
  color: #000;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
  opacity: 0.5;
}
.prices {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 8px;
  margin-top: 32px;
}
.prices-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.prices-content h4 {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  opacity: 0.5;
}
.prices-content h2 {
  color: #000;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.contin {
  padding: 15px 59px;
  background-color: var(--primary);
  margin-top: 32px;
  color: var(--white);
  border-radius: 8px;
}
.home-page {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--black);
  margin-bottom: 120px;
}
.home-shop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding-bottom: 40px;
  width: 100%;
  max-width: 1100px;
  margin-top: 40px;
}

.home-page .shop-image {
  max-width: 540px;
  max-height: 560px;
  border-radius: 8px;
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-page .shop-image img {
  max-width: 480px;
}
.home-page .shop-txt {
  display: flex;
  width: 445px;
  flex-direction: column;
}
.home-page .shop-txt span {
  color: var(--primary);
  margin-bottom: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.home-page .shop-txt h2 {
  color: var(--white);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 110% */
  letter-spacing: 1.429px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.home-page .shop-txt p {
  color: var(--white);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  opacity: 0.5;
}
.home-page .shop-txt button {
  width: 160px;
  padding-left: 28px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 29px;
  background-color: var(--primary);
  color: var(--white);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 40px;
  border-radius: 4px;
}

@media screen and (max-width: 1117px) {
  .header-content {
    width: 100%;
    padding: 25px;
  }
  .header-list {
    gap: 20px;
  }
  .home-shop {
    width: 100%;
    padding: 30px;
  }
}
@media screen and (max-width: 768px) {
  .home-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    width: 100%;
    height: 860px;
  }
  .home-shop .shop-txt {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 888;
    top: 50px;
  }
  .home-shop .shop-image {
    position: absolute;
    top: 100px;
    width: 100%;
    background: transparent;
  }
  .home-shop .shop-image img {
    top: 100px;
    max-width: 530px !important;
    background: transparent;
  }
  .header-content {
    max-width: 100%;
    padding-left: 36px;
    padding-top: 24px;
    padding-bottom: 32px;
  }
  .header-list {
    display: none;
  }
  .gamb {
    display: block;
  }
  .menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 575px) {
  .home-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    width: 100%;
    height: 860px;
  }
  .home-shop .shop-txt {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 888;
    top: 50px;
    max-width: 100%;
  }
  .home-shop .shop-image {
    position: absolute;
    top: 100px;
    background: transparent;
  }
  .home-shop .shop-image img {
    top: 100px;
    max-width: 100% !important;
    max-height: 100%;
    background: transparent;
  }
  .home-shop .shop-txt p {
    max-width: 100% !important;
  }
  .home-shop .shop-txt h2 {
    font-size: 36px;
  }
  .header-content {
    width: 100%;
  }
  .header-list {
    display: none;
  }
  .gamb {
    display: block;
  }
  .menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 376px) {
  .home-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    width: 100%;
    height: 860px;
  }
  .home-shop .shop-txt {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 888;
    top: 50px;
    max-width: 100%;
  }
  .home-shop .shop-image {
    position: absolute;
    top: 100px;
    background: transparent;
  }
  .home-shop .shop-image img {
    top: 100px;
    max-width: 100% !important;
    max-height: 100%;
    background: transparent;
  }
  .home-shop .shop-txt p {
    max-width: 100% !important;
  }
  .home-shop .shop-txt h2 {
    font-size: 36px;
  }
  .header-content {
    width: 100%;
  }
  .header-list {
    display: none;
  }
  .gamb {
    display: block;
  }
  .menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
